*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 0;
    margin-bottom: 100px;
}

.header-logo{
    color: #000;
}

.header-nav span{
    color: #939393;
}

.header-nav {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 30px;
}

.header-link{
    font-size: 20px;
    color: #000;
    text-decoration: none ;
}

.header-link:hover{
   text-decoration: underline;
}

.header-button:{
    font-size: 24px;
    border: 2px colid #000;
    border-radius: 5px;
    padding: 15px 55px;
    cursor: pointer;
    transition: 0.2s;
    background-color: #fff;
}

.header-button:hover{
    border:2px solid #000
    color#fff;
    background-color: #000;
}










.home img{
width: 660px;
height: 660px;
background-color: #fff;

}





.home-title{
    font-weight: ;
}














.home-description{
    color: #8f95a5;
    font-size: 24px;
}

.home-button{
    border: 2px solid #263228;
    background-color: #263228;
    padding: 30px 115px;
    font-size: 36px;
    border-radius: 15px;
    color: #fff;
    cursor: pointer;
    transition: 0.2s;
}

.home-button:hover {
    border-color: #fff;
    color: #263228;
    border: 2px solid #263228;
}

